<div class="header">
    <button (click)="toggleChange('ver-1')" [routerLink]="['/guia']" routerLinkActive="active">Versió 1</button>
    <button (click)="toggleChange('ver-2')" [routerLink]="['/guia']" routerLinkActive="active">Versió 2</button>
    <button (click)="toggleChange('ver-3')" [routerLink]="['/guia']" routerLinkActive="active">Versió 3</button>
    <button (click)="toggleChange('ver-4')" [routerLink]="['/guia']" routerLinkActive="active">Versió 4</button>
    <button (click)="toggleChange('ver-5')" [routerLink]="['/guia']" routerLinkActive="active">Versió 5</button>
    <button (click)="toggleChange('ver-6')" [routerLink]="['/guia']" routerLinkActive="active">Versió 6</button>
    <button [routerLink]="['/logos']" routerLinkActive="active">
        Veure Logos
    </button>
</div>