$colPrimari: #2d5e4e;
$colSecundari: #93BFBF;
$colAccent: #d98e04;
$colFons: #f2f2f2;
$colText: #121212;

.ver-5 {
  .logo-sq {
    content: url(../../assets/img/logos/logo-5-sq.png);
  }
  .logo-h {
    content: url(../../assets/img/logos/logo-5-h.png);
  }

  /*Guia colors*/

  #c-primari {
    background-color: $colPrimari;
  }

  #c-secundari {
    background-color: $colSecundari;
  }

  #c-accent {
    background-color: $colAccent;
  }

  #c-fons {
    color: #121212;
    border: 1px #e1e1e1 solid;
    background-color: $colFons;
  }

  #c-fons h3,
  #c-fons p {
    color: #121212;
  }

  #c-text {
    background-color: $colText;
  }

  /*
  Headers paràgrafs i enllaços
  */

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: $colSecundari;
  }
  h1 {
    color: $colPrimari;
  }

  a {
    color: $colSecundari;
  }

  a:hover,
  .link-hover {
    color: $colPrimari;
  }

  a:active,
  .link-active {
    color: $colAccent;
  }

  /* Botons */

  button.primari,
  .btn-primari-normal {
    background: $colPrimari;
    border-color: $colPrimari;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    color: #ffffff;
  }

  button.primari:hover,
  .btn-primari-hover {
    background: #1c3b31;
    border-color: #1c3b31;
    box-shadow: 0 8px 12px -4px rgba(0, 0, 0, 0.25);
    color: #ffffff;
  }

  button.primari:active,
  .btn-primari-active {
    background: #3e806b;
    border-color: #3e806b;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    color: #ffffff;
  }

  button.primari[disabled],
  .btn-primari-disabled {
    background: rgba(45, 94, 78, 0.25);
    border-color: rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
    color: #333333;
  }

  button.secundari,
  .btn-secundari-normal {
    background: $colSecundari;
    border-color: $colSecundari;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    color: #ffffff;
  }

  button.secundari:hover,
  .btn-secundari-hover {
    background: #73acac;
    border-color: #73acac;
    box-shadow: 0 8px 12px -4px rgba(0, 0, 0, 0.25);
    color: #ffffff;
  }

  button.secundari:active,
  .btn-secundari-active {
    background: #b3d2d2;
    border-color: #b3d2d2;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    color: #ffffff;
  }

  button.secundari[disabled],
  .btn-secundari-disabled {
    background: rgba(147, 191, 191, 0.25);
    border-color: rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
    color: #333333;
  }

  button.accent,
  .btn-accent-normal {
    background: $colAccent;
    border-color: $colAccent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    color: #ffffff;
  }

  button.accent:hover,
  .btn-accent-hover {
    background: #a76d03;
    border-color: #a76d03;
    box-shadow: 0 8px 12px -4px rgba(0, 0, 0, 0.25);
    color: #ffffff;
  }

  button.accent:active,
  .btn-accent-active {
    background: #fbaa15;
    border-color: #fbaa15;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    color: #ffffff;
  }

  button.accent[disabled],
  .btn-accent-disabled {
    background: rgba(217, 142, 4, 0.25);
    border-color: rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
    color: #333333;
  }

  /*Forms*/

  input:focus,
  textarea:focus {
    border-color: #b3d2d2;
  }

  fieldset {
    border: 2px solid $colSecundari;
  }

  legend {
    color: $colSecundari;
    background: $colPrimari;
    border: 2px solid $colPrimari;
  }

  label {
    color: $colPrimari;
  }

  input[type="radio"],
  input[type="checkbox"] {
    accent-color: $colPrimari;
  }

  select {
    background-color: $colPrimari;
    color: $colSecundari;
    border: 2px solid $colPrimari;
  }

  select option {
    color: $colPrimari;
  }

  select option:checked,
  select option:hover {
    background-color: $colSecundari;
    color: #fff;
    font-weight: 600;
  }
}
