<div class="ver-1" id="guia">
    <div class="contenidor contenidor-logos">
        <h1>Logos</h1>
        <div class="logos">
            <img class="logo-sq" src="../assets/img/logos/logo-1-sq.png" alt="logo" width="300" height="300">
            <img class="logo-h" src="../assets/img/logos/logo-1-h.png" alt="logo" width="500">
        </div>
    </div>
    <hr class="contenidor" />
    <div class="contenidor contenidor-inspo">
        <h2 class="text-center">Inspo</h2>
        <div class="img-inspo">
            <img
                src="https://images.unsplash.com/photo-1574379989050-bfd9e1a8a543?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wyMDIyOXwwfDF8c2VhcmNofDE1fHxwYWRkbGUlMjB0ZW5uaXN8ZW58MHx8fHwxNjk2MjM2Mjg1fDA&ixlib=rb-4.0.3&q=80&w=1080&client_id=521f64d6fd4e7115d827c2d57affb3f54eb6031d4e0f132d649f2a82fa086c28">
            <img
                src="https://images.unsplash.com/photo-1582412786662-84de0f923f5f?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wyMDIyOXwwfDF8c2VhcmNofDI2fHxwYWRkbGUlMjB0ZW5uaXN8ZW58MHx8fHwxNjk2MjM2Mjg1fDA&ixlib=rb-4.0.3&q=80&w=1080&client_id=521f64d6fd4e7115d827c2d57affb3f54eb6031d4e0f132d649f2a82fa086c28">
            <img
                src="https://images.unsplash.com/photo-1516742720271-6ae39cbc5bd1?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wyMDIyOXwwfDF8c2VhcmNofDI5fHxwYWRkbGUlMjB0ZW5uaXN8ZW58MHx8fHwxNjk2MjM2Mjg1fDA&ixlib=rb-4.0.3&q=80&w=1080&client_id=521f64d6fd4e7115d827c2d57affb3f54eb6031d4e0f132d649f2a82fa086c28">
            <img
                src="https://images.unsplash.com/photo-1573294184805-e3044b161ace?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wyMDIyOXwwfDF8c2VhcmNofDZ8fHBhZGRsZSUyMHRlbm5pc3xlbnwwfHx8fDE2OTYyMzYyODV8MA&ixlib=rb-4.0.3&q=80&w=1080&client_id=521f64d6fd4e7115d827c2d57affb3f54eb6031d4e0f132d649f2a82fa086c28">
            <img
                src="https://images.unsplash.com/photo-1526888935184-a82d2a4b7e67?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wyMDIyOXwwfDF8c2VhcmNofDF8fHBhZGRsZSUyMHRlbm5pc3xlbnwwfHx8fDE2OTYyMzYyODV8MA&ixlib=rb-4.0.3&q=80&w=1080&client_id=521f64d6fd4e7115d827c2d57affb3f54eb6031d4e0f132d649f2a82fa086c28">
            <img
                src="https://images.unsplash.com/photo-1618548723848-1b339b8a7999?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wyMDIyOXwwfDF8c2VhcmNofDh8fHBhZGRsZSUyMHRlbm5pc3xlbnwwfHx8fDE2OTYyMzYyODV8MA&ixlib=rb-4.0.3&q=80&w=1080&client_id=521f64d6fd4e7115d827c2d57affb3f54eb6031d4e0f132d649f2a82fa086c28">

        </div>
    </div>
    <hr class="contenidor" />
    <div class="contenidor contenidor-colors">
        <h2>Colors</h2>
        <div class="colors">
            <div id="c-primari" class="flex-item">
                <h3>Color primari</h3>
                <p><br>#27347d<br>rgb(39, 52, 125)<br>hsl(231, 52%, 32%)<br>cmyk(69%, 58%, 0%, 51%)</p>
            </div>
            <div id="c-secundari" class="flex-item">
                <h3>Color secundari</h3>
                <p><br>#5684bf<br>rgb(86, 132, 191)<br>hsl(214, 45%, 54%)<br>cmyk(55%, 31%, 0%, 25%)</p>
            </div>
            <div id="c-accent" class="flex-item">
                <h3>Color d'accent</h3>
                <p><br>#d98e04<br>rgb(217, 142, 4)<br>hsl(39, 96%, 43%)<br>cmyk(0%, 35%, 98%, 15%)
                </p>
            </div>

            <div id="c-fons" class="flex-item">
                <h3>Fons</h3>
                <p><br>#f2f2f2<br>rgb(242, 242, 242)<br>hsl(0, 0%, 95%)<br>cmyk(0%, 0%, 0%, 5%)</p>
            </div>
            <div id="c-text" class="flex-item">
                <h3>Textos</h3>
                <p><br>#121212<br>rgb(18, 18, 18)<br>hsl(0, 0%, 7%)<br>cmyk(0%, 0%, 0%, 93%)</p>
            </div>
        </div>
    </div>
    <hr class="contenidor" />
    <div class="contenidor">

        <h2>Tipografies</h2>
        <div class="contenidor-fonts">
            <div class="fuentes-1 font-pair">
                <h3>Parella 1</h3>
                <h2>Work Sans - Prova Títol</h2>
                <p><b>Merriweather</b>: Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum suscipit a quas
                    ipsum
                    eius quam
                    corporis? Eum laboriosam possimus eaque, vitae vero quam laborum, consequuntur, natus culpa a
                    enim esse?
                </p>
                <div>
                </div>
            </div>
            <div class="fuentes-2 font-pair">
                <h3>Parella 2</h3>
                <h2>Playfair Display - Prova Títol</h2>
                <p><b>Lato</b>: Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum suscipit a quas ipsum eius
                    quam
                    corporis? Eum laboriosam possimus eaque, vitae vero quam laborum, consequuntur, natus culpa a
                    enim esse?
                </p>
                <div>
                </div>
            </div>
            <div class="fuentes-3 font-pair">
                <h3>Parella 3</h3>
                <h2>Syne - Prova Títol</h2>
                <p><b>Inter</b>: Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum suscipit a quas ipsum eius
                    quam
                    corporis? Eum laboriosam possimus eaque, vitae vero quam laborum, consequuntur, natus culpa a
                    enim esse?
                </p>
                <div>
                </div>
            </div>
            <div class="fuentes-4 font-pair">
                <h3>Parella 4</h3>
                <h2>Oswald - Prova Títol</h2>
                <p><b>Lora</b>: Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum suscipit a quas ipsum eius
                    quam
                    corporis? Eum laboriosam possimus eaque, vitae vero quam laborum, consequuntur, natus culpa a
                    enim esse?
                </p>
                <div>
                </div>
            </div>
            <div class="fuentes-5 font-pair">
                <h3>Parella 5</h3>
                <h2>Anton - Prova Títol</h2>
                <p><b>Roboto</b>: Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum suscipit a quas ipsum
                    eius
                    quam
                    corporis? Eum laboriosam possimus eaque, vitae vero quam laborum, consequuntur, natus culpa a
                    enim esse?
                </p>
                <div>
                </div>
            </div>
            <div class="fuentes-6 font-pair">
                <h3>Parella 6</h3>
                <h2>Teko - PROVA TÍTOL</h2>
                <p><b>Karma</b>: Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum suscipit a quas ipsum
                    eius
                    quam
                    corporis? Eum laboriosam possimus eaque, vitae vero quam laborum, consequuntur, natus culpa a
                    enim esse?
                </p>
                <div>
                </div>
            </div>
        </div>
    </div>
    <hr class="contenidor" />
    <div class="contenidor-elements contenidor">
        <h2 class="text-center">Elements</h2>
        <div class="element">
            <h1>Capçalera 1</h1>
            <h2>Capçalera 2</h2>
            <h3>Capçalera 3</h3>
            <h4>Capçalera 4</h4>
            <h5>Capçalera 5</h5>
        </div>
        <div class="element">
            <h3>Paràgrafs i enllaços</h3>
            <p><strong>Paràgraf: </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras luctus
                tincidunt lorem, et auctor nibh bibendum non. Nullam facilisis at augue id pretium. Cras felis
                ipsum, ultricies quis dignissim sed, posuere sed nisi. Cras pellentesque interdum tellus. Mauris
                pellentesque metus risus, vitae feugiat erat tincidunt et. Class aptent taciti sociosqu ad
                litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse vel felis imperdiet,
                molestie turpis at, viverra massa. Sed ultrices eget quam vel condimentum. Vivamus tortor
                lectus, porta at rhoncus id, convallis dapibus mauris. </p>
            <p>Així és com apareixerà <a href="#">un enllaç</a>, així és com apareix l'enllaç
                <a href="#" class="link-hover"> en passar per sobre</a> y aquest és <a href="#" class="link-active">un
                    enllaç actiu</a>.
            </p>
        </div>
        <div class="element">
            <h3>Botons</h3>
            <div class="btn">
                <button class="btn-primari-normal">Primari</button>
                <button class="btn-primari-hover">Hover</button>
                <button class="btn-primari-active">Active</button>
                <button class="btn-primari-disabled">Disabled</button>
            </div>
            <div class="btn">
                <button class="btn-secundari-normal">Secundari</button>
                <button class="btn-secundari-hover">Hover</button>
                <button class="btn-secundari-active">Active</button>
                <button class="btn-secundari-disabled">Disabled</button>
            </div>
            <div class="btn">
                <button class="btn-accent-normal">Accent</button>
                <button class="btn-accent-hover">Hover</button>
                <button class="btn-accent-active">Active</button>
                <button class="btn-accent-disabled">Disabled</button>
            </div>
        </div>
        <div class="element">
            <h3>Elements per a Forms</h3>
            <div class="inputs">
                <input type="text" placeholder="Input de text" value="">
                <input type="text" class="success" placeholder="Input de text correcte" value="">
                <input type="text" class="error" placeholder="Input de text erroni" value="">
            </div>
            <div class="textareas">
                <textarea rows="6" placeholder="Textarea"></textarea>
                <textarea rows="6" class="success" placeholder="Textarea"></textarea>
                <textarea rows="6" class="error" placeholder="Textarea"></textarea>
            </div>
            <div class="click">
                <div class="radio-buttons">
                    <fieldset>
                        <legend>Fieldset + Botons Radio</legend>
                        <div class="contenidor-radio">
                            <div class="radio">
                                <input type="radio" id="opcio1" name="resposta" value="opcio1">
                                <label for="opcio1">Opció 1</label>
                            </div>

                            <div class="radio">
                                <input type="radio" id="opcio2" name="resposta" value="opcio2">
                                <label for="opcio2">Opció 2</label>
                            </div>
                            <div class="radio">
                                <input type="radio" id="opcio3" name="resposta" value="opcio3">
                                <label for="opcio3">Opció 3</label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="checkboxes">
                    <fieldset>
                        <legend>Fieldset + Checkboxes</legend>
                        <div class="contenidor-checkbox">
                            <div class="checkbox">
                                <input type="checkbox" id="checkbox1">
                                <label for="checkbox1">Checkbox 1</label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="checkbox2">
                                <label for="checkbox2">Checkbox 2</label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="checkbox2">
                                <label for="checkbox2">Checkbox 3</label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="contenidor-select">
                    <select class="select" name="select-this" id="select-this">
                        <option value="0">Select</option>
                        <option value="1">Opció 1</option>
                        <option value="2">Opció 2</option>
                        <option value="3">Opció 3</option>
                        <option value="4">Opció 4</option>
                        <option value="5">Opció 5</option>
                        <option value="6">Opció 6</option>
                    </select>
                </div>
            </div>
        </div>

    </div>